/ignored
fullstuck.json
test-project/ignored_*
# File hasil generate instalasi (Testing lokal)
.htaccess
.fst.log
*.sqlite
router.php
/views/
/assets/

# Node.js / VitePress
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
